.hero {
    background-image: url(../img/portada/cafeteria.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* Ancho 100% para que se ajuste al tamaño de la pantalla */
    max-width: 1200px;
    /* Ancho máximo de 1200px */
    height: 600px;
    margin: auto;
    border-radius: 50px;
    position: relative;
    margin-top: 30px;
}


.container-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

/*adaptar pntalla*/
@media (max-width: 768px) {
    .container-hero {
        position: relative;
        max-width: 1200px;
    }
}

.container-hero h1 {
    font-size: 36px;
    margin: 5px;
}

.container-hero p {
    font-size: 24px;
    margin: 5px;
}

.hero .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
}

