.c-p {

    position: relative;
    background-color: #e0b2b6;
    padding: 2px;
    width: 250px;
}

.muestras {
    gap: 20px;
}

.muestras-container {
    padding: 40px 0;
}

.muestras img {
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    /* Centra la escala en el medio de la imagen */

}

.box-img-muestras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-muestras {
    border-radius: 6px;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.muestras img:hover {
    border-radius: 6px;
    transform: scale(1.2);
    /* Added a slight scaling effect for a more dynamic hover */
    cursor: help;
}

.muestras a {
    text-decoration: none;
    transition: transform 1.5s ease-in-out
}

.muestras a:hover {
    color: white;
    /* Changed to ensure text is visible against the background */
    background-color: brown;
    transform: scale(1.05);
    /* Added a slight scaling effect for a more dynamic hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra añadida */

}

/* Carta */
#container-carta nav a {
    padding: 15px 0;
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
}

.container-presentacion h2 {
    font-size: 40px;
    letter-spacing: 5px;
    padding: 10px;
}


.columna {
    display: grid;
    gap: 48px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.producto img {

    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.producto {
    height: 280px;
}

.cabecera-productoscarta div {
    height: 220px;
    gap: 30px;
}

.cabecera-productoscarta h3 {
    font-size: 30px;
    letter-spacing: 5px;
    padding: 0 0 20px 40px;
}

.cuadro-descripcion {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cuadro-descripcion p {
    font-family: 'Times New Roman', Times, serif;
}

#precio {
    text-align: end;
    color: #e0b2b6;
    /* sdsfd */
}

/* #descripcion {} */
.about-img {
position: relative;}
.about-img img{
    width: 100%;
}
.about-img div{
    position: absolute;
    top:300px;
    left: 28%;
    z-index: 100;
}
.about-img span{
    padding: 30px 50px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 7px;
/*     text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.3); /* Sombra más clara de arriba hacia abajo */
 
}

#container-aboutus h1,h2{
    margin-bottom: 30px;
    margin-top: 30px;

}
#container-aboutus p{
    font-family: 'Times New Roman', Times, serifSS;
    letter-spacing: 2px;
    font-size: 18px;

}


