.box-nav {
    padding: 40px 6px;
    border: 0.5px  grey solid;
    border-left: 0;
    border-right: 0;
}


.box-nav img {
    width: 55px;
    height: 55px;
}

.box-nav nav a,
span {
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    width: 50px;
    font-size: calc(16px + (24 - 16) * ((100vw - 576px) / (1200 - 576)));
    white-space: nowrap;
    /* Evita que las palabras salten de línea */
    filter: brightness(1);
    /* Brillo normal */
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Transición suave */
}

.box-nav nav a:hover {
    filter: brightness(2);
    transform: scale(1.05);
}

.box-nav nav a img:first-child {
    border-radius: 12px;
}

.sello {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box-nav .sello img {
    position: absolute;
    width: 90px;
    height: 90px;
}

.desplegable{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
/*adaptar pntalla*/
@media (max-width: 768px) {
    .container-hero {
        position: relative;
        max-width: 1200px;
    }
    .box-nav nav{
        display: none;
    }
    .desplegable{
        display: block;
        opacity: 1;
    }

}